// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $indigo,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 810px,
  xl: 1200px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';


html,
body {
  height: 100%;
  width: 100%;
}
.container{
  max-width: 1400px;
  width:92%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

img:hover {
  animation: pulse 0.5s;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  input, textarea{
      width: 100%;
      background-color: white;
      border: 1px solid $indigo;
      color: $indigo;
      padding: 20px;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;
      &:focus{
          border: 1px solid $cyan;
          outline: none;
          color: $cyan;
          &::placeholder{
              color: $cyan;
          }
      }
      
  }
  textarea{
      height: 50vh;
  }
  input::placeholder,
  textarea::placeholder{
      color: $indigo;
  }
}

.nom-courriel{
  display: flex;
  width: 100%;
}

.form-tasks{
  display: flex;
  flex-direction: row;

  input{
    &:first{
    width: 300px;
  }
}
}